@media screen and (max-width: 1400px) {
    #profile{
        height: 105vh;
        width: 93vh;
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .about-containers{
        flex-wrap: wrap;
        width: 90vh;
        text-align: center;
        padding-top: 3rem;
    }
   
}


@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
        width: 98vh;
    }
    #experience ,
     .experience-details-container{
        width: 90vh;
     }
     #about .text-container{
        margin-bottom: 2.5rem;
    }
    #experience 
     .article{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2.5rem;
     }
 
    #profile,
     .section-container{
        display: block ;
     }
    .arrow{
        display: none;
    }
    section,
     .section-container{
        height: fit-content;
        width: 91vh;
        text-align: justify;
     }

    section{
        margin: 0 5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
    nav {
        width: 93vh;
    }
    .nav-links{
        flex-direction: row;
        gap: 2rem;
        text-align: center;
    }
    footer p{
        width: 93vh;
    }

}

@media screen and (max-width: 600) {

    #contact,
     .footer{
        height: 40vh;
     }
    #profile{
        height: 105vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
        align-items: center;
    }
    .about-containers , 
        .contact-info-upper-container , 
            .btn-container{
                flex-wrap: wrap;
        }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
        .nav-links li a{
            font-size: 1rem;
        }
    .experience-sub-title{
        font-size:1.5rem;
    }
    .logo{
        font-size: 1.5rem;
    }
     .nav-links{
        flex-direction: row;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }
    .section__text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify;
    }
  
    
  

}
 